<div class="mat-elevation-z8">
  <table style="width:100%" mat-table #table [dataSource]="dataSource" matSort multiTemplateDataRows>
    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{row.date}}</td>
    </ng-container>

    <!-- Start Time Column -->
    <ng-container matColumnDef="start-time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start</th>
      <td mat-cell *matCellDef="let row">{{row["start-time"]}}</td>
    </ng-container>

    <!-- End Time column-->
    <ng-container matColumnDef="end-time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>End</th>
      <td mat-cell *matCellDef="let row">{{row["end-time"]}}</td>
    </ng-container>

    <!-- Made by column-->
    <ng-container matColumnDef="by">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>By</th>
      <td mat-cell *matCellDef="let row">{{row.by}}</td>
    </ng-container>

    <ng-container matColumnDef="hall-id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Hall</th>
      <td mat-cell *matCellDef="let row">{{row["hall-id"]}}</td>
    </ng-container>

    <ng-container matColumnDef="expandedBooking">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="booking-element-detail" [@detailExpand]="element == expandedBooking ? 'expanded' : 'collapsed'">
          <div class="booking-detail-description-container">Apples not oranges {{element['by']}}</div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="booking-element-row" [class.booking-expanded-row]="expandedBooking === row"
      (click)="expandedBooking = row;"></tr>
    <tr mat-row *matRowDef="let element; columns: ['expandedBooking'];" class="booking-detail-row"></tr>
  </table>


  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>